<div class='container'>

<table class="table">
  <thead>
    <tr>
      <td><strong>Commits</strong></td>
    </tr>
  </thead>
  <tbody>
    <% @commits.each do |commit| %>
  <tr>
    <td> <%= commit.type %> <%= commit.repo_name %> on <%= commit.created_at %></td>
  </tr>
  <% end %>
</tbody>
</table>

</div>
