<div class='container'>

<% if @organizations.count == 0 %>
  <p> No organizations! </p>
<% else %>

<table class="table">
  <thead>
    <tr>
      <td><strong>Organization</strong></td>
      <td><strong>Description</strong></td>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
  <tr>
    <td> <%= organization.name %> </td>
    <td> <%= organization.description %> </td>
  </tr>
  <% end %>
</tbody>
</table>
<% end %>

</div>
